@media only screen and (min-width: 768px) {
  #bankvault-keyboard {
    display: none !important;
  }

  .bankvault-wrapper .bankvault-separator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    text-align: center;
    align-items: center;
    margin-right: 20px;
  }

  .bankvault-wrapper .bankvault-separator .line {
    flex-grow: 1;
    border-left: 1px solid #ccc;
  }

  .bankvault-wrapper .bankvault-separator .text {
    flex-grow: 0;
    text-align: center;
    padding: 20px 0;
  }

  .bankvault-qr-code-wrapper,
  .bankvault-credit {
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: auto;
  }

  .bankvault-qr-code {
    max-width: 100%;
    background-color: #fff;
  }

  /**
   * User login page specific styles.
   */
  form#user-login.bankvault-enabled {
    position: relative;
    min-height: 350px;
    margin-bottom: 40px;
  }

  form#user-login.bankvault-enabled.bankvault-position-right > div > * {
    padding-right: 50%;
  }

  form#user-login.bankvault-enabled.bankvault-position-right input.form-text {
    max-width: 100%;
  }

  form#user-login.bankvault-enabled > div > .bankvault-wrapper.right {
    position: absolute;
    padding: 0 0 0 5%;
    top: 0;
    display: flex;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    max-width: 300px;
    left: 0;
    margin-left: 50%;
  }

  form#user-login.bankvault-enabled .bankvault-wrapper.right .bankvault-separator .text {
    margin: auto;
    padding: 10px;
  }

  /**
   * Underneath position for block and form.
   */
  form#user-login.bankvault-enabled.bankvault-position-underneath .bankvault-wrapper .bankvault-separator,
  .block.block-user.block-user-login-block .bankvault-wrapper .bankvault-separator {
    flex-direction: row;
    width: auto;
    margin: 0;
  }

  form#user-login.bankvault-enabled.bankvault-position-underneath .bankvault-wrapper .bankvault-separator .line,
  .block.block-user.block-user-login-block .bankvault-wrapper .bankvault-separator .line {
    border-left: none;
    border-top: 1px solid #ccc;
    margin: 20px 0 20px 0;
  }

  form#user-login.bankvault-enabled.bankvault-position-underneath .bankvault-wrapper .bankvault-separator .text,
  .block.block-user.block-user-login-block .bankvault-wrapper .bankvault-separator .text {
    text-align: center;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .bankvault-wrapper {
    display: none;
  }

  #bankvault-keyboard {
    left: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #fbfbfb;
    z-index: 1000;
  }
}